DB_NAME=egisz_monitor
DB_USER=egisz
DB_PASSWORD=egisz
POSTGRES_SCHEMA=public

MB_DB_NAME=metabase
MB_DB_USER=metabase
MB_DB_PASS=metabase

BACKEND_PORT=3000
FRONTEND_PORT=8812
METABASE_PORT=3001
DB_PORT=5432
