PORT=3000
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=egisz_monitor
POSTGRES_USER=egisz
POSTGRES_PASSWORD=egisz
POSTGRES_SCHEMA=public
ETL_BATCH_SIZE=500
# Firebird settings are configured via web interface and stored in app_config table
# No need to set them here - they are loaded from PostgreSQL app_config
FIREBIRD_ATTACH_TIMEOUT_MS=8000
FIREBIRD_QUERY_TIMEOUT_MS=12000
FIREBIRD_ETL_PAGE_SIZE=200
FIREBIRD_ETL_QUERY_TIMEOUT_MS=120000
